# Cursor
.cursor/
.cursorrules

# Dependencies
node_modules

# Build Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Test
coverage
test-results

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
